<div class="mt-4">
    <form method="POST">
        <div class="mb-3">
            <label for="search-input" class="form-label">Enter keyword</label>
            <input type="text" name="fullname" placeholder="Enter your full name">
            <input type="text" name="age" placeholder="Enter your age">
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter keyword">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div> 